body{background-color:lightgrey;
     margin:0px;
     padding:0px;}
     
header{background-color:white;
       border-bottom:#a5ff55 5px solid;
       min-height:50px;
       padding-top:30px;}
       
#one{margin:auto;
     overflow:hidden;
     width:95%;}

header a{text-transform:uppercase;
         text-decoration:none;
         color:green;
         font-size:16px;
         font-weight:bold;}
  
li{float:left;
   display:inline;
   padding:0 20px 0 20px;}

.logo{float:left;}

nav{margin-top:5px;
    float: right;}

ul{margin:0;
   padding:0;}

.current a{color:grey;
           font-weight:bold;}

header a:hover{color:blue;
               font-weight:bold;}
               
section{color:green;
        font-weight:bold;}

#two{text-align:center;
     margin-top:20px;
     margin-bottom:10px;
     margin:5px;}
     
h1{font-size:25px;}

p{font-size:20px;
  font-weight:light;}
  
aside{border:5px solid;
      background:url("farm.jpeg");
      color:white;
      float:right;
      width:35%;
      padding:30px;
      margin:15px;
      text-align:left;
      margin-op:10px;}

#size h1{font-size:25px;}

aside form #size input, aside form textarea{width:95%;
         padding:10px;}
         
::placeholder{color:white;}

button{background-color:green;
       color:white;
       width:100px;
       height:50px;
       font-size:20px;
       border-radius:30px;}

footer{padding:17px;
       margin-top:700px;
       font-size:25px;
       font-weight:bold;
       color:green;
       background:white;
       text-align:center;}

.fit{margin-top:50px;
     margin-bottom:60px;
     background:url("ft.jpeg");}
     
#cs1{background:url("df.jpg");}
